<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<title>Confirmation de modification de jeu</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container spacer40">
			<div class="card spacer40">
				<div class="card-header bg-danger text-warning">Confirmation
					d'ajout</div>
				<div class="card-body">
					<div class="form-group">
						<label class="control-label">Id Jeu :</label> <label
							th:text="${jeu.idJeu}"></label>
					</div>
					<div class="form-group">
						<label class="control-label">Titre :</label> <label
							th:text="${jeu.titre}"></label>
					</div>
					<div class="form-group">
						<label class="control-label">Auteurs :</label> <label
							th:text="${jeu.auteurs}"></label>
					</div>
					<div class="form-group">
						<label class="control-label">Durée :</label> <label
							th:text="${jeu.duree}"></label>
					</div>
					<div class="form-group">
						<label class="control-label">Joueurs Min. :</label> <label
							th:text="${jeu.joueursMin}"></label>
					</div>
					<div class="form-group">
						<label class="control-label">Joueurs Max. :</label> <label
							th:text="${jeu.joueursMax}"></label>
					</div>
					<div class="form-group">
						<label class="control-label">Genre :</label> <label
							th:text="${jeu.genre}"></label>
					</div>
					<div th:if="${jeu.extension} == true" class="form-group">
						<label class="control-label">Extension :</label> <label
							th:text="Oui"></label>
					</div>
					<div th:if="${jeu.extension} == false" class="form-group">
						<label class="control-label">Extension :</label> <label
							th:text="Non"></label>
					</div>
					<div th:if="${jeu.dispoPret} == true" class="form-group">
						<label class="control-label">Empruntable :</label> <label
							th:text="Oui"></label>
					</div>
					<div th:if="${jeu.dispoPret} == false" class="form-group">
						<label class="control-label">Empruntable :</label> <label
							th:text="Non"></label>
					</div>
				</div>
				<p class="text-center spacer40">
					<a th:href="@{/admin/gestionJeux}"><button class="btn btn-danger">Modifier un autre jeu</button></a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>