<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>Authentification</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
<link rel="icon" href="../static/img/logo.png"
	th:href="@{/img/logo.png}" type="image/png" sizes="16x16" />
</head>
<body>
	<div layout:fragment="content">
		<div class="spacer40 col-md-6 offset-md-3">
			<div class="card">
				<div class="card-header bg-danger text-warning">Authentification</div>
				<div class="card-body">
					<div class="red  mb-3" th:if="${param.error}">Pseudo ou mot de
						passe erroné.</div>
					<div class="red  mb-3" th:if="${param.logout}">Vous avez été
						déconnecté.</div>
					<div class="text-danger" th:if="${exception}"
						th:text="${exception.message}"></div>
					<form th:action="@{/login}" method="post">
						<div class="form-group">
							<label class="control-label">Pseudo</label> <input
								class="form-control" type="text" name="username" />
						</div>
						<div class="form-group">
							<label class="control-label">Password</label> <input
								class="form-control" type="password" name="password" />
						</div>
						<div class="col text-center">
							<button class="btn btn-danger" type="submit">Connexion</button>
						</div>
					</form>
				</div>
			</div>
			<p class="text-center spacer40">
				<a th:href="@{/inscription}">S'inscrire</a>
			</p>
		</div>
	</div>
</body>
</html>